.popup-section .modal__window {
  width: 480px;
  max-width: calc(100vw - var(--gutter) * 2);
  min-height: 0;
  overflow-y: auto;
}
.popup-section .modal__window--no-image-block {
  overflow: hidden;
}
.popup-section .modal__window--no-image-block .modal__content {
  overflow-y: auto;
}
.popup-section .modal__window--side-image {
  width: 600px;
  overflow: hidden;
}
.popup-section .modal__window--side-image .modal__content {
  overflow-y: auto;
}
.popup-section .modal__content--p-small {
  padding: calc(5 * var(--space-unit)) var(--gutter);
}
.popup-section .modal__content--p-medium {
  padding: calc(10 * var(--space-unit)) var(--gutter);
}
.popup-section .modal__content--p-large {
  padding: calc(16 * var(--space-unit)) var(--gutter);
}
.popup-section .modal__close-btn {
  top: 5px;
  right: 5px;
  background-color: transparent;
}
.popup-section .modal__close-btn svg {
  width: 18px;
  height: 18px;
}
.popup-section .modal__image {
  max-width: none;
}
.popup-section .countdown__item {
  padding-right: 0;
  padding-left: 0;
}
.popup-section .section__block:not(:last-child) {
  margin-bottom: calc(6 * var(--space-unit));
}
.popup-section .countdown__block {
  margin-top: 0;
}

.popup-section__background-image {
  z-index: -1;
}

.modal.popup-section--age-verification {
  z-index: 100;
}

.popup-section--shrink .modal__window {
  width: auto;
  min-width: 200px;
}

@media (min-width: 769px) {
  .popup-section .modal__window {
    width: 640px;
  }
  .popup-section .modal__window--side-image {
    width: 800px;
  }
  .popup-section .modal__window--side-image .modal__content--p-small {
    padding: calc(5 * var(--space-unit)) calc(4 * var(--space-unit));
  }
  .popup-section .modal__window--side-image .modal__content--p-medium {
    padding: calc(10 * var(--space-unit)) calc(6 * var(--space-unit));
  }
  .popup-section .modal__window--side-image .modal__content--p-large {
    padding: calc(16 * var(--space-unit)) calc(12 * var(--space-unit));
  }
  .popup-section .modal__content--p-small {
    padding: calc(5 * var(--space-unit));
  }
  .popup-section .modal__content--p-medium {
    padding: calc(10 * var(--space-unit));
  }
  .popup-section .modal__content--p-large {
    padding: calc(16 * var(--space-unit)) 80px;
    background:#fff;
  }
  .popup-section--shrink .modal__window {
    width: auto;
    min-width: 200px;
    max-width: 640px;
  }
}
@media (max-width: 768.98px) {
  .popup-section .modal__window.flex-col .media__placeholder {
    position: relative;
  }
}